body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.suggestion{
  background-color: bisque;
  border: 1px solid;
}
.active{
  background-color: blueviolet;
  color: #fff;
  border: 1px solid;
}
.suggestionsHolder{
  background-color: black
}
.input-red{
  background-color: azure;
  color:red;
  border-radius: 2px;
  
}